# --- BACKEND (.NET / ASP.NET Core) ---
bin/
obj/
*.db-shm
*.db-wal
*.db-journal

# Dejamos app.db versionado para evaluación
# app.db

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider / JetBrains
.idea/

# --- FRONTEND (React / Vite / Node.js) ---
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.lock

# --- ENV Files ---
.env
.env.local
.env.*.local

# --- LOGS ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# --- Terraform ---
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraform/
.terraform.lock.hcl

# --- GitHub Pages Cache ---
.cache/
gh-pages-cache/

# --- OS / Editor Files ---
.DS_Store
Thumbs.db
desktop.ini
